.banner {
    gap: 0px;
    margin-left: 0px;
    background: linear-gradient(to bottom, #1b1919, #39014B);
    height: 600px;
    margin-top: 0px;
    display: flex !important;
    flex-direction: row;
}

.banner .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.banner .title {
    font-family: 'berkahi blackletter';
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

.banner .boot {
    margin-top: 28px;
    width: 650px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.banner .description {
    font-family: cinzel;
    color: white;
    font-size: 25px;
}

.banner .button {
    align-self: flex-end;
    padding: 0px;
    width: 160px;
    height: 39px;
    background-color: #9F87FF;
    border: #9F87FF;
    border-radius: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-weight: 900;
    color: white;
}


/* Banner id1 */
.banner.id-1 {}

.banner.id-1 .boot {
}

.banner.id-1 .title {
    color: red;
}

.banner.id-1 .description {}

.banner.id-1 .button {}

/* banner id 2 */